<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255742583252-vij8h5lo1q0r2ccrsdr3s4dv9ghkvn0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255742583252-vij8h5lo1q0r2ccrsdr3s4dv9ghkvn0u</string>
	<key>API_KEY</key>
	<string>AIzaSyDpH5o4JqqpfnkUZsCa9G8PdcifQPxLb0E</string>
	<key>GCM_SENDER_ID</key>
	<string>255742583252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Roman-Lab.connectToNetwork</string>
	<key>PROJECT_ID</key>
	<string>connecttonetwork-55bdf</string>
	<key>STORAGE_BUCKET</key>
	<string>connecttonetwork-55bdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255742583252:ios:f9411c17c2bd0b0d</string>
	<key>DATABASE_URL</key>
	<string>https://connecttonetwork-55bdf.firebaseio.com</string>
</dict>
</plist>